<!DOCTYPE html>
<html>
	<meta charset="utf-8">
	<title>个人中心</title>
	<link rel="icon" href="images/favicon.ico" />
	<meta name="keywords" content="湖师百晓生">
	<link rel="stylesheet" href="css/base.css" />
	<link rel="stylesheet" type="text/css" href="css/myMessage.css">
	<script type="text/javascript" src="js/jquery-1.10.1.js"></script>
	<script type="text/javascript" src="js/base.js"></script>
	<script type="text/javascript" src="js/myMessage.js"></script>
</head>
<body>
<!-- 内容 -->
	<div id="container">
<!-- 头部 -->
		<header>
<!-- logo名称 -->
			<div class="left">
				<a href="http://www.hutc.zj.cn/index.asp"><img id="logo" src="images/logo.jpg"></a>
				<a href="index.html"><h1>湖师百晓生</h1></a>
			</div>
<!-- 搜索框 -->
			<div class="mid">
				<ul>
					<li><a class="ca ca1" href="#" target="_self">模块一</a></li>
					<li><a class="ca" href="#" target="_self">模块二</a></li>
				</ul>
				<input id="txtSearch" type="search" name="search" placeholder="搜模块一">
				<a href="#"><button id="btnSearch" class="cbtn">搜索</button></a>
			</div>
<!-- 登录注册 -->
			<div class="right">
				<ul class="cu1">
					<li class="cli1 clih"><a href="register.html" target="_blank">注册</a></li>
					<li class="cli1 clih"><a href="login.html" target="_blank">登录</a></li>
					<li class="cli1 clit"><a href="myLetter.html" target="_blank">私信</a></li>
					<li class="cli1 clit"><a href="myMessage.html" target="_blank">信息</a></li>
					<li class="cli1 clit">
						<a class="nickname" href="#" target="_blank">昵称</a>
						<ul class="cu2">
							<li><a class="cnick" href="myIndex.html" target="_blank">我的主页</a></li>
							<li><a class="cnick" href="index.html" target="_blank">退出账号</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</header>
<!-- 导航 -->
		<nav>
			<ul>
				<li><a class="ca" href="#" target="_self">首页</a></li>
				<li><a href="campusHot.html" target="_self">校园热点</a></li>
				<li><a href="lifeHelper.html" target="_self">生活助手</a></li>
				<li><a href="campusAnswer.html" target="_self">校园答疑</a></li>
				<li><a href="employsResearch.html" target="_self">考研考证</a></li>
				<li><a href="campusMap.html" target="_self">校园地图</a></li>
			</ul>	
		</nav>
<!-- 个人主页 -->
		<main>
			<div class="list">
				<h3>个人中心</h3>
				<ul>
					<li><a href="myindex.html">基本信息</a></li>
					<li><a href="modify.html">修改密码</a></li>
					<li><a href="myResume.html">我的简历</a></li>
					<li><a href="#">我的信息</a></li>
					<li><a href="myLetter.html">我的私信</a></li>
				</ul>
			</div>
			<div class="con">
				<p><span>我的信息</span></p>
	        	<ul>
	        		<li>信息一信息一信息一信息一</li>
	        		<li>信息二信息二信息二信息二</li>
	        		<li>信息三信息三信息三信息三</li>
	        		<li>信息四信息四信息四信息四</li>
	        		<li>信息五信息五信息五信息五</li>
	        		<li>信息六信息六信息六信息六</li>
	        		<li>信息七信息七信息七信息七</li>
	        		<li>信息八信息八信息八信息八</li>
	        	</ul>
			</div>
		</main>
<!-- 尾部 -->
		<footer>
			<hr>
			<p>版权所有：XXX</p>
		</footer>
	</div>
</body>
</html>