*{
	margin: 0px;
	padding: 0px;
}

a{
	text-decoration: none;
}

#container{
	width: 1080px;
	margin: 0px auto;
}

#container header{	
	float: left;
	width: 100%;
	margin-top: 10px;
}

header #logo{
	float: left;
	width: 100px;
	height: 100px;
}

header h1{
	float: left;
	margin: 35px 15px 0px 10px;
	color: #9A2424;
	font-family: 'STXingkai','FZShuTi','STXinwei';
}

header span{
	float: left;
	font-size: 20px;
	margin-top: 15px;
	padding: 20px 15px;
	border-left: 1px solid black;
}

#container main{
	float: left;
	width: 100%;
	height: 500px;
	margin-top: 10px;
	border-top: 1px solid #9A2424;
	background: url("../images/rlbj.jpg") no-repeat center right;
}

main #register_box{
	float: left;
	width: 380px; 
	height: 490px;
	border-radius: 10px;
	margin: 10px 20px;
	background: #EAEAEA;
	/*opacity: 0.5;*/
}

#register_box .con{
	float: left;
	width: 85%;
	height: 85%;
	margin: 27px;
}

#register_box .con h3{
	text-align: center;
}

#register_box .con input{
	width: 98%;
	height: 40px;
	border: none;
	margin-top: 20px;
	font-size: 16px;
}

#register_box .con .ctxt{
	padding-left: 10px;
}

#register_box .con .cyzm{
	width: 60%;
}

#register_box .con .cbtn{
	border: none;
	color: white;
	background: #9A2424;
	cursor:pointer;
}

#register_box .con .cbtnt{
	background: #BD0B0B;
}

#register_box .con .cbtn1{
	width: 36.9%;
	height: 40px;
}

#register_box .con .cbtn2{
	font-size: 20px;
	margin-left: 2px;
	margin-top: 50px;
	border-radius: 5px;
}

#register_box .con .cp{
	float: right;
	font-size: 14px;
	margin-top: 10px;
}

#register_box .con .ca{
	font-weight: bold;
	color: #9A2424;
}

#container footer{
	float: left;
	width: 100%;
	height: 50px;
	margin-top: 10px;
	padding-left: 30px;
}

footer hr{
	height: 2px;
	border: none;
	background-color: #9A2424;
}

footer p{
	text-align: center;
	margin-top: 10px;
}